<!-- <div class="container"> -->

      <div class="row">
         <div class="column" >
            <div ng-repeat="item in cartPaymentC.cartArray">
               <br>
               <img src="{{item.imgsrc}}" > <br>
                  <div style="position: relative ;left: 7.5%;"> 
                     <b>{{item.name}} <br></b>
                     ₹ {{item.price * item.quantity}} <br>
                     quantity : {{item.quantity}}
                     <!-- <select id="myselect" ng-model="item.quantity">
                        <option   selected="selected">{{item.quantity}}</option>         
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select><br> 
                      <label for="hour">Hour:</label>
                     <input type="number" id="hour" min="1" max="24" /><br> -->
                  </div>
                  <!-- <hr style="display: flex; shape-outside: auto;"> -->
            </div> 
         </div>
         <div class="column" >
            <div style="float: left; position: relative;right: 10%;"> 
               <div style="position: relative;left: 20%;font-size:large;">  TOTAL: <b>₹{{ cartPaymentC.cartTotalPrice() }} </b></div>  <br><br>
               <button  class="pay" ui-sref="CartPaymentType"> PROCEED TO PAY</button>   
            </div>             
         </div>
      </div>       

       
   
<!-- </div> -->

</body>

<style>
   .float-container {
      /* border: 3px solid #fff; */
      padding: 2px;
   }

   /* .float-child {
      width: 50%;
      float: left;
      padding: 20px;
      border: 2px solid rgb(15, 15, 15);
   }   */

   * {
   box-sizing: border-box;
   }

   .row {
   display: flex;
   }

/* Create two equal columns that sits next to each other */
   .column {
   flex: 50%;
   padding: 10px;
   height: 300px; 
   }
   hr {
    width:40%;
    margin:0 auto;
   }
    .container {
      min-height: 150vh;
      justify-content: center;
      align-items: right;
      display: flex;
      text-align: center;
    }

    img {
      width: 200px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      margin-bottom: 5px;
  }

   .pay {
      cursor:pointer;
   display: inline-block;
   margin-right: 10px;
   background: #253386;
   color: #fff;
   text-decoration: none;
   font-size: 13px;
   line-height: 38px;
   border-radius: 50px;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   width: 170px;
   text-align: center;
   }

   .pay:hover {
   background: #fff;
   color: #3973a8;
   box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
   }
</style>